/* styles/Home.module.css */
.container {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  margin: 20px;
}

.title {
  color: #333;
  font-size: 24px;
  font-weight: bold;
}

.description {
  color: #666;
  font-size: 16px;
}

.link {
  background-color:beige;
  border: 1px solid black;
  margin: 10px;
}
